<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd">

	<!-- Enables the Spring MVC @Controller programming model -->
	<annotation-driven />

	<!-- Handles HTTP GET requests for /resources/** by efficiently serving 
		up static resources in the ${webappRoot}/resources directory -->
	<beans:import resource="classpath*:/mozu-base.xml" />
	<!-- <resources mapping="/**" location="/resources/" /> -->

	<context:property-placeholder
		location="classpath:mozu_config.properties, classpath:mail.properties"
		ignore-resource-not-found="true" />

	<!-- <context:component-scan base-package="com.homehardware" /> -->

	<beans:bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<beans:property name="driverClassName" value="com.mysql.jdbc.Driver"></beans:property>
		<beans:property name="url"
			value="jdbc:mysql://localhost:3306/ignitiv"></beans:property>
		<beans:property name="username" value="root"></beans:property>
		<beans:property name="password" value="ignitiv123"></beans:property>
	</beans:bean>

	<beans:bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
		p:dataSource-ref="dataSource" >
		<beans:property name="jpaVendorAdapter">
			<beans:bean
				class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"
				p:database="MYSQL" p:showSql="false" />
		</beans:property>
		<!-- gDickens: BOTH Persistence Unit and Packages to Scan are NOT compatible, 
			persistenceUnit will win -->
		<beans:property name="persistenceUnitName" value="ApplicationEntityManager" />
		<beans:property name="packagesToScan">
			<beans:list>
				<beans:value>com.homehardware.model</beans:value>
				<beans:value>com.homehardware.dao</beans:value>
				<beans:value>com.homehardware.processor</beans:value>

			</beans:list>
		</beans:property>


	</beans:bean>

	<!-- Transaction manager for a single JPA EntityManagerFactory (alternative 
		to JTA) -->
	<beans:bean id="transactionManager"
		class="org.springframework.orm.jpa.JpaTransactionManager"
		p:entityManagerFactory-ref="entityManagerFactory" />

	<!-- Post-processor to perform exception translation on @Repository classes 
		(from native exceptions such as JPA PersistenceExceptions to Spring's DataAccessException 
		hierarchy). -->
	<beans:bean
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
	<beans:bean id="hhDaoObjectImpl" class="com.homehardware.dao.HhDaoObjectImpl"></beans:bean>
	<beans:bean id="hhRetailDao" class="com.homehardware.dao.HhRetailDaoImpl"></beans:bean>
	<beans:bean id="hhItemAffiliatedDao" class="com.homehardware.dao.HhItemAffiliatedDaoImpl"></beans:bean>
	<beans:bean id="hhBrandDao" class="com.homehardware.dao.HhBrandDaoImpl"></beans:bean>
	<beans:bean id="hhExtDescDao" class="com.homehardware.dao.HhExtDescDaoImpl"></beans:bean>
	<beans:bean id="hhGtinDao" class="com.homehardware.dao.HhGtinDaoImpl"></beans:bean>
	<beans:bean id="hhItemLocDao" class="com.homehardware.dao.HhItemLocDaoImpl"></beans:bean>
	<beans:bean id="hhItemRestrictedDao" class="com.homehardware.dao.HhItemRestrictedDaoImpl"></beans:bean>
	<beans:bean id="hhItemAttributesDao" class="com.homehardware.dao.HhItemAttributesDaoImpl"></beans:bean>
	<beans:bean id="hhItemImagesDao" class="com.homehardware.dao.HhItemImagesDaoImpl"></beans:bean>
	<beans:bean id="hhDynamicAttributesDao" class="com.homehardware.dao.HhDynamicAttributesDaoImpl"></beans:bean>
	<beans:bean id="hhGtinProcessor" class="com.homehardware.processor.HhGtinProcessor"></beans:bean>
	<beans:bean id="hhProductBrandProcesser" class="com.homehardware.processor.HhProductBrandProcesser"></beans:bean>
	<beans:bean id="hhProdItemAttributeProcessor" class="com.homehardware.processor.HhProdItemAttributeProcessor"></beans:bean>
	<beans:bean id="hhDynAttributeProcessor" class="com.homehardware.processor.HhDynAttributeProcessor"></beans:bean>
	<beans:bean id="hhAffiliatedItemProcessor" class="com.homehardware.processor.HhAffiliatedItemProcessor"></beans:bean>
	<beans:bean id="hhImagesProcessor" class="com.homehardware.processor.HhImagesProcessor"></beans:bean>
	
	<beans:bean id="hhItemLocProcessor" class="com.homehardware.processor.HhItemLocProcessor"></beans:bean>
	
	<beans:bean id="hhExtDescProcessor" class="com.homehardware.processor.HhExtDescProcessor"></beans:bean>
	<beans:bean id="hhItemProcessor" class="com.homehardware.processor.HhItemProcessor"></beans:bean>
	
	
		
	
</beans:beans>